[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Dash Display project
[access "refs/*"]
	owner = group user/badgerj
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/badgerj
	label-Verified = -1..+1 group user/badgerj
	push = group user/badgerj
	read = group user/badgerj
	rebase = group user/badgerj
	removeReviewer = group user/badgerj
	submit = group user/badgerj
[access "refs/heads/*"]
	create = group user/badgerj
	push = +force group user/badgerj
	pushMerge = group user/badgerj
	read = group user/badgerj
[access "refs/tags/*"]
	push = group user/badgerj
	push = +force group user/badgerj
